* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav__container {
    color: #fff;
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.nav__menu {
    display: flex;
    justify-content: space-between;

    width: 900px;
    align-items: center;
}

.nav__links {

    display: flex;
    gap: 15px;
    color: #e5e7eb;
    font-size: 18px;
}

.nav__logo {
    font-size: 24px;
    color: #f9faf8;
}

.home__container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1f2937;
    padding: 20px 0;
}

.home__content {
    display: flex;
    justify-content: space-between;

    width: 900px;
    align-items: center;
}

.home__img {

    display: flex;

    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.home__description * {
    margin: 10px;
}

img {

    width: 100%;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.btn {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 9px;

}

h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #1f2937;
    margin-top: 7px;
}

.random {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

.random * {
    margin-top: 10px;
}

.random__container {
    display: flex;
    width: 600px;
    justify-content: space-around;
}

.box {
    padding: 80px 20px;
    border: 1px dotted #3882f6;
}

.cite__container {
    background-color: #e5e7eb;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cite__content {
    width: 600px;
    display: flex;
    flex-direction: column;

   

}
cite{
    
    font-size: 36px;
    color: #1f2397;
}

.name__cite{
    display: flex;
    align-self: flex-end;
    font-weight: bold;
}

.action__container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.action {
    padding: 10px 30px;
    width: 600px;
    background-color: #3882f6;

    border-radius: 17px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.action .btn {
    border: 2px solid #f9faf8;
}


footer {
    height: 50px;
    text-align: center;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}